
/* 
.day_arrived {
  position: absolute;
  top: 10pc;
  left: 15px;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  box-shadow: 4px 13px 20px 0px #434343;
  border-radius: 10px;
  background: radial-gradient(#778ec654, #28529194);
}

.day_sign_out {
  position: absolute;
  top: 10pc;
  left: 250px;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  box-shadow: 4px 13px 20px 0px #434343;
  border-radius: 10px;
  background: radial-gradient(#778ec654, #28529194);
} */

