body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #87CEEB, #00BFFF);
}

div#root {
    display: contents;
}

span {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: larger;
    font-variant: all-petite-caps;
    font-family: sans-serif;
    font-weight: bold;
}

.login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    color: blue;
    background: linear-gradient(358deg, #0c5fe9bd, #50f6e5b8);
    padding: 10px;
    border-radius: 5px;
    position: fixed;
    top: 10px;
}

.login_form input[type="submit"] {
    width: 50%;
    height: 22px;
    margin-top: 10px;
    background: linear-gradient(359deg, #144dd7, #3fdbf5);
    color: #c9eaff;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow */
    font-variant: all-petite-caps;
}

.login_form input[type="submit"]:hover {
    background: linear-gradient(359deg, #517ce1, #1343b3);
}

input {
    background: beige;
    border: 1px solid #080808;
    border-radius: inherit;
    font-family: sans-serif;
    font-weight: bold;
}