body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #88a7c5, #78797ac2);
}

div#root {
  display: contents;
}
