<!DOCTYPE html>
<html lang="RU">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'auths/css/index.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    <a href="{% url 'index' %}" class="auth_link">Перейти к авторизации</a>
</body>
</html>