<!DOCTYPE html>
<html lang="RU">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'auths/css/index.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
    <form action="{% url 'logout' %}" method="POST">
        {% csrf_token %}
        <button type="submit">Выйти</button>
    </form>
    <form action="{% url 'profile' %}" method="POST">
        {{ new_category }}
        {% csrf_token %}
        <button type="submit">Добавить</button>
    </form>
        {% for message in messages %}
            {% if 'added' in message.tags %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endif %}
        {% endfor %}
    </div>
</body>
</html>